		<div class="login">
			<div class="form-signin">
				<h2 class="form-signin-heading">Login</h2>
				<label for="inputEmail" class="sr-only">Username</label>
				<input type="text" id="inputEmail" ng-model="txt_user" class="form-control" placeholder="Username" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" ng-model="txt_pwd" class="form-control" placeholder="Password" required>
				<button class="btn btn-lg btn-info btn-block" id="btn_Login" ng-click="checkLogin();">Login</button>
				<label id="lbl_status" ng-bind="auth_msg">&nbsp;</label>
			</div>
		</div>