		
		
		<h1 class="ueberschrift">Guidemanagement</h1>
		
		<div class="div_Fuehrung ">
		 <fieldset class="field">
                <legend class="overview_legends">Führung</legend>
                <label class="descript" ng-bind="route_name"></label>
            </fieldset>
		</div>
		
		
		
		 <div class="overview_div self_next">
         <button id="startFuehrung_btn" ng-bind="btnRouteStartStop" ng-disabled="loggedIn==false" ng-click="startRoute();"></button>
        </div>
	
		<div ng-style="vis_station_view">
        <div class="current_station overview_div">
            <fieldset class="field">
                <legend class="overview_legends">Aktuelle Station</legend>
                <label class="descript" ng-bind="akt_title"></label>
            </fieldset>
        </div>

		
        <div class="current_description overview_div">
            <fieldset class="field_description">
                <legend class="overview_legends">Beschreibung</legend>
                <textarea class="description_small" ng-bind="akt_desc"></textarea>
            </fieldset>
        </div>

		 <div class="next overview_div" ng-style="vis_nextStation">
            <fieldset class="field">
                <legend class="overview_legends">Nächste Station</legend>
                <label class="descript" ng-bind="nextStation_name"></label>
            </fieldset>
        </div>
		
        <div class="self_next overview_div">
		<select name="Stationen" class="station_select" ng-style="vis_nextStation" selected-index="0" ng-change="selectedStationChanged()" ng-model="selectedStation" ng-options="x.name for x in allStations">
		    
        </select>

            <button id="finishedStation_btn" ng-bind="btnStationStartStop" ng-click="update();"></button>
        </div>
        </div>
        <button id="logout_btn" ng-click="logout();">Logout</button>
    
	
		