
<!-- new -->

<div class="container">
    <div class="container">
        <div  style="margin-left: 9%;"  class="row">
            <div class="col-1">
                <h4>Guidemanagement</h4>
            </div>
        </div>
    </div>

    <!-- Führung-->
    <div class="container card" style="margin-bottom:2.5%;">
        <div class="row">
            <div class="col">
                <h4>Führung</h4>
                <label class="border-info rounded" ng-bind="route_name"></label>
            </div>
        </div>

        <button style="margin-bottom:2.5%;" class="btn btn-info btn-sm" ng-bind="btnRouteStartStop" ng-disabled="loggedIn==false" ng-click="startRoute();"></button>
    </div>


    <div id="bigDiv" ng-style="vis_station_view">

        <!-- Aktuelle Station-->
        <div class="container card" style="margin-bottom:2.5%;">
            <div class="row">
                <div class="col">
                    <h3 style="margin-top:2.5%;">Aktuelle Station</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="border-info rounded" ng-bind="akt_title"></label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="label label-default">Beschreibung:</label>
                    <div style="margin-bottom:2.5%; height: 9em; overflow-y: scroll;" class="form-control" ng-bind-html="akt_desc"></div>
                </div>
            </div>
        </div>



        <!-- Nächste Station-->
        <div class="container card" style="margin-bottom:2.5%;">

            <div class="row">
                <div class="col">
                    <h3 ng-style="vis_nextStation" style="margin-top:2.5%;">Nächste Station</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="border-info rounded" ng-style="vis_nextStation" ng-bind="nextStation_name"></label>
                </div>
            </div>

            <div class="row" style="margin-bottom:2.5%;">
                <div class="col">
                    <select name="Stationen" id="selectStation" ng-style="vis_nextStation" selected-index="0" ng-change="selectedStationChanged()" ng-model="selectedStation" ng-options="x.name for x in allStations"></select>
                </div>
                <div class="col">
                    <button id="finishedStation_btn"  class="btn btn-success btn-sm" ng-bind="btnStationStartStop" ng-click="update();"></button>
                </div>
            </div>

        </div>
    </div>
    <div class="container card">
        <div class="row">
            <button class="btn btn-lg" ng-click="logout();">Log out</button>
            <button type="button" class="btn btn-info btn-lg" ng-click="loadInfoData();" data-toggle="modal" data-target="#myModal">Show Infos</button>
        </div>
       
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Guide info</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body" ng-repeat="x in infoStations">
              <h3>{{x.name}}</h3>
              <p ng-bind-html="x.desc"></p>
            </div>
            <img style="width: 100%" src="./lib/plan.jpg"/>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>

</div>