
.card-body {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    margin-left: 6% !important; 
	padding: 0rem !important;
}

.card-header {
  padding:0px !important;
}

h3 {
    margin-left: 1% !important;
    font-size: 1.75rem !important;
}



#finishedStation_btn{
	 width: 97% !important;
	 margin-top: 5%;
}

#selectStation {
    width: 97% !important;
    margin-top: 3% !important;
}

#finishedFuehrung_btn{
	margin-top: 3% !important;
	
}

#startFuehrung_btn {
    width: 97% !important;
}