#mainDiv {
	width: 100%; height:100%;
}

html {
	width: 100%; height:100%; overflow:hidden; 
	}

body { 
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
}
.login { 
	position: absolute;
	font-size: 3em;
	top: 30%;
	left: 15%;
	width:70%;
	height:50%;
}
.login h1 { 
color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; 
}

#btn_Login{
	font-size: 1.5em;
    width: 70%;
    margin-left: 15%;
    border-radius: 300000000000px;
    margin-top: 15%;
}

#lbl_status{
	color: white;
    margin-left: 35%;
	display: inline-block;
    margin-top: 7%;
	font-color: red;
}

.login_input  { 
	height: 40%;
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 2em;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.login_input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }




























.field {
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
    height: 10rem;
}

.field_description {
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 15px;
}

.overview_legends {
    font-size: 4.5em;

}

.station_option {
    font-size: 0.5em;
}

.station_select {
    font-size: 2em;
    border-radius: 7px;
    width: 50%;
}

.descript {
    margin-left: 5%;
    font-size: 3em;
    color: #b3a0ff;
}
.description_small {
    width: 100%;
    min-height: 20rem;
}

.overview_div {
    margin-top: 10%;
    margin-bottom: 10%;
}

.self_next {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
}

#finishedStation_btn {
    font-size: 2em;
    position: absolute;
    right: 5%;
    border-radius: 7px;
}
.ueberschrift {
    font-size: 6em;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 16%;
    text-shadow: 0px 0px 26px rgba(168, 0, 226, 0.72);
}
