<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Simulator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/functions_cryptography.js"></script> 
	<meta name="mobile-web-app-capable" content="yes">
    <script  src="js/index.js"></script>
 </head>

<body ng-app="myApp" class="bg-light text-dark">
	<div ng-controller="myCtrl">
        <input id="Ankunft" min="1" max="100" ng-model="ankunft" type="range" step="1" ng-change="setNewAnkunft()"/>
        <label for="Ankunft">{{ankunft}}</label>
		<button ng-click="startNewRouteWorker()">Start new Route worker</button>
	</div>
</body>
</html>
