<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Simulator</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/functions_cryptography.js"></script> 
	<meta name="mobile-web-app-capable" content="yes">
    <script  src="js/index.js"></script>
 </head>

<body ng-app="myApp" class="bg-light text-dark">
	<div ng-controller="myCtrl">
        <div>
            <input id="Ankunft" min="1" max="100" ng-model="ankunft" type="range" step="1" ng-change="setNewAnkunft()"/>
            <label for="Ankunft">{{ankunft}}</label>
        </div>
        <div>
            <button ng-click="startNewRouteWorker()">Start new Route worker</button>
            <button ng-click="stopNewRouteWorker()">Stop new Route worker</button>
        </div>
        <div>
            <label>Laufende Stationen:</label>
            <label ng-bind="runningStations"></label>
        </div>
        <div>
            <label>Laufende Routen:</label>
            <label ng-bind="runningRoutes"></label>
        </div>
        <div>
            <label>Bereits abgeschlossene Routen:</label>
            <label ng-bind="alrFinishedRoutes"></label>
        </div>
	</div>
</body>
</html>
